/*	Joanna Mokhtarezadeh
Styling Text Assignment
12-4-13
*/

/* entire page */
body{
	padding: 20px;
	font-family: Arial, Verdana, sans-serif;
	background-color: rgb(241,242,244);	/*off white*/
}
/* main title */
h1{
	padding: inherit;
	font-size: 2.0em;
	font-weight: normal;
	color: rgb(241,242,244);
	background-color:#468DC3;
}
/*subtitles*/
h2,h3{
	padding: inherit;
	font-weight: normal;
	text-transform: capitalize;
	color: rgb(241,242,244);
	background-color: rgb(33,88,140);
}
/*nav*/
ul,ol{
	padding: inherit;
	background-color: #21588C;
	background-color: hsla(180,30%,50%,0.90);

}

/*links*/
a{
	color: rgb(33,88,140);
	text-decoration: none;
	font-weight: bold;
}
/*paragraphs*/
p{
	
	line-height: 25px;
	word-spacing: 4px;
	text-align: left;
	background-color: #21588C;
	background-color:  hsl(180,50%,90%);
}