/*	Joanna Mokhtarezadeh
Styling Text Assignment
12-4-13
*/

/* entire page */
body{
	font-family: Arial, Verdana, sans-serif;
	background-color: rgb(138,181,255);
}
/* main title */
h1{
	padding: 20px;
	font-size: 2.0em;
	font-family: Arial, Verdana, sans-serif;
	font-weight: normal;
	color: white;
	background-color: #1B2574;
}
/*subtitles*/
h2,h3{
	padding: 20px;
	font-weight: normal;
	text-transform: capitalize;
	color: rgb(11,11,13);
	background-color: #3643A4;
}
/*nav*/
ul{
	padding: 20px;
	background-color: #3643A4;
	background-color: hsla(180,30%,50%,0.75);
}
/*
p #list{
	font-weight: bold;
	background-color: silver;
	background-color: hsl(50,20%,15%);
}
*/
/*links*/
a{
	color: rgb(27,37,116);
	text-decoration: none;
	font-weight: bold;
}
p{
	
	line-height: 25px;
	word-spacing: 5px;
}